@media screen and (max-width: 767px){
    .cabecera{
        position: fixed;
        justify-content: center;
        padding: 0 .5rem;
        text-align: center;
        width: 100%;
    }
    .logo{
        display: none;
    }
    .banner__titulo{
        top:55%
    }
    .checkbtn{
        display: block;
    }
    ul.menu__link{
        position:fixed;
        display: flex;
        flex-direction: column;
        width: 45%;
        background: #000000;
        top: 4.1rem;
        left: -50%;
        text-align: center;
        transition: all .5s;
        opacity: 100%;
        
    }
    nav.menu ul.menu__link li.menu__item{
        display: block;
        margin: 20px 0;
        line-height: 30px;
        color: aliceblue;
        
        
    }
    nav.menu ul.menu__link li.menu__item a.menu__enlace{
        font-size: 1rem;
        color: white;
    }
    #check:checked ~ ul.menu__link{
        left: 0;
    }

}







@media screen and (min-width: 768px){
    .cabecera{
        justify-content: center;
        padding: 0;
    }
    .logo{
        display: none;
    }

}








@media screen and (min-width: 992px){
    .cabecera{
        position: fixed;
        justify-content: space-between;
        padding-left: 2rem;
        padding-right: 2rem;
        opacity: 90%;
    }
    .logo{
        display: block;
    }


}